.group-select-title {
  font-size: 43px;
  color: #000;
  padding-bottom: 10px;
}

.group-card {
  width: 600px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.185);
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 10px;
  overflow-y: auto;
}

.group-list {
  /* リストのスタイル */
  list-style-type: none;
  padding: 0;
}

.group-list-item {
  /* リストアイテムのスタイル */
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  padding: 8px;
}

.group-list-item-text {
  /* テキストのスタイル */
  font-size: 24px;
  line-height: 1.2;
  margin-left: 15px;
}

.circle {
  /* 丸い図形のスタイル */
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #a4a4a4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.group-list-item:hover {
  /* 選択されたアイテムのスタイル */
  background-color: rgba(126, 126, 126, 0.2);
}

/* スクロールバーのスタイル */
.group-card::-webkit-scrollbar {
  width: 8px;
}

.group-card::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.group-card::-webkit-scrollbar-thumb {
  background-color: #a4a4a4;
  border-radius: 4px;
}
