.svgLeftGroup {
  position: fixed;
  bottom: 28px;
  left: 0;
  display: flex;
  flex-direction: column;
}

.svgRightGroup {
  position: fixed;
  bottom: 28px;
  right: 0;
  display: flex;
  flex-direction: column;
}
/* RootLayout.module.css */

.svgLeftGroup {
  position: fixed;
  bottom: 28px;
  left: 0;
  display: flex;
  flex-direction: column;
}

.svgRightGroup {
  position: fixed;
  bottom: 28px;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.svgContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.svgContainer svg {
  margin-right: 5px;
}

.svgLarge {
  display: flex;
}

@media (max-width: 685px) {
  .svgLarge {
    display: none;
  }
}
