.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #929292;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  z-index: 999;
}

.header-button {
  background-color: #ffffff;
  border: none;
  border-radius: 24px;
  width: auto;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.header-button svg {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.header-button-text {
  color: #4f3a57;
  font-weight: bold;
  font-size: 14px;
  padding-top: 3px;
}
