.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding: 4px;
  border-radius: 4px;

  width: 100%;

  margin-bottom: 5px;
  border: none;
  border-radius: 12px;
  appearance: none;
  outline: 0;
  background: #d9d9d9;
  backface-visibility: hidden;
  transition: 0.25s ease-out;

  .address {
    background: #929292;
    color: white;
    border-radius: 12px;
    display: flex;
    align-items: left;
    height: 24px;
    overflow: hidden;
    .content {
      padding: 0.1rem 0.7rem;
    }
    .delete {
      width: 16px;
      height: 100%;
      border: none;
      .icon {
        fill: white;
        width: 16px;
        height: 100%;
        object-fit: contain;
      }
      &:hover {
        color: #ff0000;
      }
    }
  }
  .input {
    border: none;
    background: none;
    flex: 1;
    height: 31px;
    color: #000;
    &:focus {
      outline: none;
    }
  }
}
