.chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  width: 80px;
}

.chipAvailable {
  background-color: #303030;
  border: 2px solid #303030;
  color: #fff;
}

.chipUnavailable {
  background-color: #b3b3b3;
  border: 2px solid #b3b3b3;
  color: #929292;
}

.chipBorrowed {
  border: 2px solid #303030;
  color: #303030;
}
